.summaryContainer {
    width: min(90%, 350px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 0;
    min-width: 0;
}

.planName {
    flex: 1;
}