.header {
    height: 100%;
    width: 100%;
    padding-inline: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburgerMenu {
    max-width: 50px;
    aspect-ratio: 1;
}

.checkList {
    max-width: 50px;
    aspect-ratio: 1;
}