.container {
    display: grid;
    grid-row: 6;
    place-items: center;
    height: 100%;
}

.mealNameInput {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.mealNameInput > input {
    border-bottom: 2px solid hsl(var(--clr-creamy-green));
}

.mealNameInput > label {
    padding-top: 12px;
}