.container {
    grid-row: 6;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: min(2vh, 1.5em);
}

.form {
    height: 100%;
    display: grid;
    place-items: center;
}

.title {
    flex-basis: 15%;

}

.fewMeals {
    place-items: flex-start;
    padding-top: 2em;
}

.mealNameInput {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.mealNameInput > input {
    border-bottom: 2px solid hsl(var(--clr-creamy-green));
}

.mealNameInput > label {
    padding-top: 12px;
}