.container {
    grid-row: 6;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(0.5em, 5%, 1.5em);
    padding-top: 0.5em;
}

.form {
    height: 100%;
    display: grid;
    place-items: center;
}

.singleMeal {
    place-items: flex-start;
}

.mealNameInput {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.mealNameInput > input {
    border-bottom: 2px solid hsl(var(--clr-creamy-green));
}

.mealNameInput > label {
    padding-top: 12px;
}