.container {
    max-width: 40rem;
    padding: 0.5em;
    text-align: center;
    display: grid;
    grid-template-rows: 80px 40px 10px 80px 40px 1fr 40px;
}

.orderParagraph {
    max-width: 15ch;
}

.questionParagraph {
    max-width: 25ch;
}

.input {
    border-bottom: 2px solid hsl(var(--clr-creamy-green));
    transition: border-bottom-color, color 250ms ease-in;
}

.firstInputError {
    border-bottom-color: hsl(var(--clr-light-pink));
    color: hsl(var(--clr-light-pink));
}

.secondQuestion {
    grid-row: 4;
}

.secondInput {
    grid-row: 5;
    width: 2.5em;
    transition: border-bottom-color, color 250ms ease-in;
}

.inputError {
    border-bottom-color: hsl(var(--clr-light-pink));
    color: hsl(var(--clr-light-pink));
}

.arrowContainer {
    grid-row: 7;
}
