.container {
    max-width: 40rem;
    padding: 0.5em;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(4, 50px) 1fr;
    border-radius: 20px;
    place-items: center;
}



.questionParagraph {
    padding-inline: 1em;
}

.input {
    border-bottom: 2px solid hsl(var(--clr-creamy-green));
    align-self: flex-end;
}