.container {
    max-width: 40rem;
    padding: 0.5em;
    text-align: center;
    display: grid;
    grid-template-rows: 50px 40px 20px 60px 40px 1fr 40px;
    border-radius: 20px;
    place-items: center;
}



.questionParagraph {
    padding-inline: 1em;
}

.input {
    border-bottom: 2px solid hsl(var(--clr-creamy-green));
}

.secondQuestion {
    grid-row: 4;
}

.secondInput {
    grid-row: 5;
}

.arrow {
    grid-row: 7;
}