.layout {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 5em 1fr;
    background-image: url("../../assets/svgs/verticalBackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form {
    max-width: 80rem;
    height: 100%;
}

@media (min-width: 560px) {
    .layout {
        background-image: url("../../assets/svgs/horizontalBackground.svg");
    }

}

