.layout {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 5em 1fr 5em;
    background-image: url("../../assets/folder/verticalBackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 80rem;
    height: 100%;
}

@media (min-width: 560px) {
    .layout {
        background-image: url("../../assets/folder/horizontalBackground.svg");
    }

}

.main {

}


