.hamburgerMenu {
    height: 2.5em;
    width: 2.5em;
    aspect-ratio: 1;
    padding-top: 2px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hamburgerMenu > div {
    height: 3px;
    width: 100%;
    border-radius: 20px;
    background-color: black;
}