.providerButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: clamp(1em,5vw, 5em);
    border-radius: 30px;
    height: 3.5em;
    width: 85%;
    letter-spacing: var(--ls-header);
    cursor: pointer;
    border: 2px solid;
    background-color: black;
}

.providerButton > * {
    color: white;
}

.providerButton > h4 {
    font-size: var(--fs-400);
}