.modal {
    width: clamp(50%, 700px, 90%);
    height: min(50%, 300px);
    margin: auto;
    border-radius: 12px;
    background: hsl(var(--clr-black) / .5);
    display: block;
}

.big {
    height: clamp(600px, 70%, 1000px);
}


@supports (backdrop-filter: blur(1.5rem)) {
    .modal {
        background-color: hsl(var(--clr-white) / 0.05);
        backdrop-filter: blur(1.5rem);
    }
}

