.backdrop {
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: hsl( var(--clr-black) / .5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}


@supports (backdrop-filter: blur(1.5rem)) {
    .backdrop {
        background-color: hsl(var(--clr-white) / 0.05);
        backdrop-filter: blur(1.5rem);
    }
}


