@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    position: relative;
    text-align: center;
    z-index: 300;
    animation: rotate linear 0.5s infinite;
}

.center {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 30%;
    margin: auto;
}

