@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    position: relative;
    text-align: center;
    z-index: 300;
    animation: rotate linear 0.5s infinite;
}

