.loginPage {
    display: grid;
    place-items: center;
    overflow: hidden;
    max-width: 40rem;
}

.loginContainer {
    width: 85%;
    height: max(500px, 80%);
    padding-inline: 1em;
    display: grid;
    grid-template-rows: 1fr repeat(3, minmax(60px, 0.1fr)) 0.1fr 0.5fr 1fr;
    background: transparent;
    border: 2px solid hsl(var(--clr-creamy-green));
    border-radius: 20px;
}

@supports (backdrop-filter: blur(1.5rem)) {
    .loginContainer {
        background-color: hsl(var(--clr-white) / 0.05);
        backdrop-filter: blur(1.5rem);
    }
}



.orDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 2em;
    gap: 1em;
    width: 100%;
}

.orDiv > hr {
    height: 1px;
    border-top: 1px solid var(--clr-creamy-green);
    display: inline-block;
    flex: 1;
}


