.loginPage {
    display: grid;
    place-items: center;
    max-width: 40rem;
    padding: 0.5em;
}

.loginContainer {
    flex: 1;
    overflow: auto;
    width: 85%;
    padding-inline: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid hsl(var(--clr-creamy-green));
    border-radius: 20px;
}

.loginSection {
    height: 90%;
    display: grid;
    flex: 1
}

@media (min-height: 700px) {
    .loginSection {
        grid-template-rows: 0.7fr 50px 1fr;
    }
}

@supports (backdrop-filter: blur(1.5rem)) {
    .loginContainer {
        background-color: hsl(var(--clr-white) / 0.05);
        backdrop-filter: blur(1.5rem);
    }
}


.orDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 2em;
    gap: 1em;
    width: 100%;
}

.orDiv > hr {
    height: 1px;
    border-top: 1px solid var(--clr-creamy-green);
    display: inline-block;
    flex: 1;
}



.helpParagraph {
    text-align: center;
}

.helpParagraph > span {
    text-decoration: underline;
    margin-left: 2px;
    cursor: pointer;
}


@media (min-height: 600px) {
    .loginContainer {
        height: 90%;
    }
}