.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    max-width: 80rem;
}

.chooseTypeSection {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 10%;
}

.navElement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}


.list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.list > li {
 margin:0;
    padding: 0;
}

.contentsContainer {
    flex: 1;
    flex-basis: 0;
    border-top: 1px solid hsl(var(--clr-creamy-green));
    height: 1px;
    overflow: auto;
}

.regions {

}