.mealPickerContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.titleSection {
    height: 10%;
    padding-inline: 10%;
    border-bottom: 2px solid hsl(var(--clr-creamy-green));
}

.mainSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
    flex-grow: 1;
    flex-basis: 0;
    gap: clamp(1em, 8vh, 3em);
    padding-block: 1.5em;
}

