.nav {
    height: 50vh;
    width: 100%;
}

@supports (backdrop-filter: blur(1.5rem)) {
    .nav {
        background-color: hsl(var(--clr-white) / 0.05);
        backdrop-filter: blur(1.5rem);
    }
}
