.header {
    z-index: 10;
}

.skipNavLink {
    position: absolute;
    transform: translateY(-120%) translateX(0);
    transition: all .5s ease-in;
    display: block;
    padding: 1em;
    color: hsl(var(--clr-creamy-green))
}

.skipNavLink:focus {
    transform: translateY(15%) translateX(100%);
}

.headerDiv {
    height: 100%;
    width: 100%;
    padding-inline: clamp(0.5em, 5vw, 5em);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid hsl(var(--clr-creamy-green));
}

.title {
    padding-top: 7px;
}

.logoButton {
    height: 3em;
    width: 3em;
    max-height: 3em;
    max-width: 3em;
    aspect-ratio: 1;
}

.logo {
    fill: hsl(var(--clr-creamy-green));
}

.navIcon {
    height: 2.5em;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
}
