.header {
    height: 100%;
    width: 100%;
    padding-inline: clamp(1em, 10vh, 5em);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-headers);
    font-weight: 100;
    letter-spacing: var(--ls-header);
    z-index: 1;
}

.header > h2 {
    color: black;
}

.logo {
    max-height: 3em;
    max-width: 3em;
    aspect-ratio: 1;
}
