.header {
    height: 100%;
    width: 100%;
    padding-inline: clamp(0.5em, 5vw, 5em);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    border-bottom: 1px solid hsl(var(--clr-creamy-green));
}

.title {
    color: hsl(var(--clr-creamy-green));
    font-size: var(--fs-800);
    font-weight: 300;
    padding-top: 7px;
}

.logo {
    max-height: 3em;
    max-width: 3em;
    aspect-ratio: 1;
    fill: hsl(var(--clr-creamy-green));
}

.navIcon {
    height: 2.5em;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
}
